.DS_Store
*.swp
config/.config/vifm/vifminfo
config/.config/asciinema/install-id
config/.config/asciinema/defaults.toml
vim/.vim/plugged
vim/.vim/.netrwhist
config/.config/vifm/vifminfo.json
neovim/.config/nvim/plugin
weechat/.weechat/logs
weechat/.weechat/weechat.log
vim/.vim/view
